@import "../../../index.scss";

.movie__item {
    &__title {
        color: $white-cl;
        margin-top: 1rem;
        font-size: 18px;
        text-align: center;
        @include transform(translateY(0));
        text-shadow: none;
        @include transition(transform $t ease-out);
        @include xxs {
            font-size: 15px;
        }
    }
    &__image {
        position: relative;
        overflow: hidden;
        border-radius: $border-radius;
        min-height: 300px;
        box-shadow: none;

        @include md {
            min-height: 420px;
        }
        @include xs {
            min-height: 300px;
        }
        @include xxs {
            min-height: 250px;
        }

        &::after {
            content: "";
            @include fullScreen();
            background-color: $black-cl;
            opacity: 0;
            @include transition($t ease-out);
            z-index: 0;
        }

        img {
            @include midImg();
            @include transition(0.6s ease-out);
        }

        button {
            color: $primary-cl;
            border: none;
            background: transparent;
            @include mid();
            z-index: 2;
            border-radius: $border-radius;
            cursor: pointer;

            i {
                font-size: 50px;
                @include transform(scale(0));
                @include transition($t ease-out);
            }
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover > &__image {
            border: 3px solid $primary-cl;
            box-shadow: $box-shadow;
            & > img {
                @include transform(translate(-50%, -50%) scale(1.2));
                @include transition($t ease-out);
            }

            &::after {
                opacity: 0.7;
                @include transition($t ease-out);
            }

            & > button > i {
                @include transform(scale(1));
                @include transition($t ease-out);
            }
        }

        &:hover > &__title {
            @include transform(translateY(-270px));
            text-shadow: $text-neon;
            @include transition(transform $t ease-out);
        }
    }
}
