@import "../../../index.scss";

.trailer {
    @include size(100%);
    @include fullScreen(true);
    background-color: transparent;
    @include visible(0);
    z-index: 101;

    &__content {
        @include mid();
        @include transform(translate(-50%, -350px));
        @include visible(0);
        @include transition(0.5s);
        @include size(800px, 500px);

        z-index: 102;
        & > iframe {
            @include fullScreen();
            border: 0;
            border-radius: $border-radius;
        }
    }

    &.active {
        @include visible(1);
        @include overlay(0.8);
        @include transition(0.8s);
        @include transition-delay(0.5s);
        overflow: hidden;
        .trailer__content {
            @include transform(translate(-50%, -50%));
            @include visible(1);
            @include transition(0.8s);
            @include transition-delay(0.5s);
        }
    }
}
