@import "../../index.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: $height-header;
    @include transition(0.5s);

    &.active {
        background-color: $black-cl;
        @include transition(0.5s);

        & > .header__wrap {
            border-bottom: none;
        }
    }

    @include xxs {
        height: $height-header - 10px;
    }

    .logo {
        font-size: 35px;
        font-weight: bold;
        display: flex;
        align-items: center;
        // justify-content: unset;
        a {
            @include textNeon;
        }
        img {
            width: 50px;
            margin-right: 20px;
        }

        @include xs {
            font-size: 30px;
            img {
                width: 40px;
            }
        }

        @include xxs {
            a {
                font-size: 20px;
            }
            img {
                width: 20px;
                margin-right: 10px;
            }
        }
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        // border-bottom: 1px solid $line-cl;
        a {
            color: $text-cl;
            text-transform: uppercase;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        height: 100%;

        @include xxs {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 60px;
            width: 100%;
            background-color: $body-cl;
            @include flexbox(center, space-between);

            & > * ~ * {
                margin-left: 0;
            }

            a {
                width: unset !important;
            }
        }

        li {
            margin-left: 1rem;
            @include size(100%);
            @include transition($t);
            position: relative;

            &::after {
                content: "";
                bottom: 0;
                @include abCenter(left);
                width: 70%;
                height: 1px;
                background-color: $primary-cl;
                @include transform(translateX(-50%) scaleX(0));
                transform-origin: left;
                transition: $t;

                @include xxs {
                    height: 3px;
                }
            }

            &.active,
            &:hover {
                a {
                    color: $primary-cl;
                    transition: $t;
                }
                &::after {
                    @include transform(translateX(-50%) scaleX(1));
                    transition: $t;
                }
            }
        }

        a {
            display: inline-block;
            @include size(100px, 100%);

            display: flex;
            align-items: center;
            justify-content: center;

            font-weight: 700;
            font-size: 12px;
            letter-spacing: 2px;
            transition: $t;
        }
    }
}
