@import "../../index.scss";

.section {
    margin-top: 50px;
    display: block;
    @include xxs {
        margin-top: 30px;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .title {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $white-cl;
            @include xxs {
                font-size: 18px;
            }
        }
    }

    &.detail__page {
        margin-top: 70px;
        @include xxs {
            &:first-child {
                margin-top: 30px;
            }
        }
        .section__header {
            justify-content: center;
            margin-bottom: 40px;
            @include xxs {
                margin-bottom: 20px;
            }
            .title {
                font-size: 40px;
                text-align: center;
                @include textNeon;
                @include xxs {
                    font-size: 30px;
                }
            }
        }
    }
}
